@tailwind base;
@tailwind components;
@tailwind utilities;
@keyframes slideDown {
  from {
    transform: translateY(-100%) translateX(-50%);
    opacity: 0;
  }
  to {
    transform: translateY(0) translateX(-50%);
    opacity: 1;
  }
}

.animate-slide-down {
  animation: slideDown 0.5s ease-out forwards;
}